* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.elemento{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 75px;
    height: 75px;
    background-color: aqua;
    border: solid 1px;
}
.tabela{
    display: flex;
    flex-direction: row;
}



.metais{
background-color: #a1d344;
}
.metaisalca{
background-color:#f1b200;
}
.metaisterra{
background-color: #eada00;
}
.metaistrans{
    background-color: #eb8e8e;
}
.outrosmetais{
background-color: #a2c7d3;
}
.semimetais{
    background-color: #4db6ac;
}
.halogenios{
    background-color: #70cbeb;
}
.metaisnobres{
    background-color: #3d9ee3;
}
.actinios{
    background-color: #dcadd6;
}
.lantanidios{
    background-color: #90e3e9;
}



.coluna2{
    margin-top: 75px;
}

.coluna3{
    margin-top: 225px;
}

.coluna4{
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    margin-left: 225px;
}

.coluna5{
    display: flex;
    flex-direction: row;
    margin-left: 225px;
}

footer{
    background-color: #a2c7d3;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}